{% extends 'browser/base.html' %}
{% load static %}

{% block title %}Wikipedia based browser{% endblock title %}
{% block includes %}
    <link rel="stylesheet" href="{% static 'browser/browser.css' %}">
{% endblock includes %}




{% block content %}
<div class="search-bar-container">
<form method="POST" action="" class="search-bar">
    {% csrf_token %}
	<input type="search" name="search" pattern=".*\S.*" required>
	<button class="search-btn" type="submit">
		<span>Search</span>
	</button>
</form>
</div>

<div class="search-results">
    {% for article in articles  %}
    <div class="result">
        <h2 class="article-title article-item">{{article.name}}</h2>
        <h2 class="article-possibility article-item">{{article.probability|floatformat:2}}%</h2>
        <h2>
        <a href="{{article.url}}" target="_blank"  class="article-item"><i class="fa-solid fa-link linker"></i></a>
        </h2>
    </div>
    {% endfor %}
</div>
{% endblock content %}